@(title: String, form: Form[List[models.Config]])(implicit messages: Messages)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @title
        @helper.form(action = routes.Application.submit) {
            @helper.repeat(form("configs"), min = 3) { c =>
                <div>
                    @helper.inputText(c("url"))
                    @helper.inputText(c("xPath"))
                    @helper.inputText(c("baseUrl"))
                    @helper.inputText(c("UA"))
                    @helper.inputText(c("timeoutMs"))
                    @helper.inputText(c("referrer"))
                    @helper.inputText(c("sleepTimeMs"))
                </div>
                <br>
                <br>
            }
        <button>登録</button>
        }
        <p><a href="/">[HOME]</a></p>
    </body>
</html>
